---
import pr from "./pr.svg"
import edit from "./edit.svg"
import github from "../../assets/github.svg"

const yourNameSpace = "jazzypants1989"
const yourRepoName = "astro-docs-template"

const githubURL = `https://github.com/${yourNameSpace}/${yourRepoName}/edit/main/`
const codeFlowURL = `https://pr.new/github.com/${yourNameSpace}/${yourRepoName}/`

export type Props = { file?: string }
const { file } = Astro.props as Props
---

<details>
  <summary>Help us improve this page</summary>
  <a href={`${githubURL}${file}`}
    ><img width="30" alt="Open in Github" src={github} /></a
  >
  {
    file && (
      <a href={`${githubURL}${file}?startScript=dev1`}>
        <img alt="Edit in Web Publisher" src={edit} />
      </a>
    )
  }
  <a href={codeFlowURL}><img alt="Open in Codeflow" src={pr} /></a>
</details>

<style>
  details {
    min-height: 42px;
    font-size: 14px;
    padding-left: 2rem;
  }
  details summary {
    cursor: pointer;
  }
  img {
    vertical-align: bottom;
  }
</style>
