---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Infobox from '../components/Infobox.astro';
import Edit from '../components/edit/Edit.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import logo from '../assets/YOUR LOGO HERE.png';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body
		class="bg-primary-DARK text-primary-LIGHT flex flex-col items-center justify-center min-h-screen"
	>
		<Header title={SITE_TITLE} />
		<main class="mx-auto max-w-3xl p-4 min-h-screen flex flex-col justify-center">
			<div class="flex justify-center">
				<img src={logo} alt="QGP Logo" class="w-64 rounded-2xl shadow-lg" />
			</div>
			<h2 class="text-2xl text-center font-bold mt-4 mb-2">Make good docs -- fast!</h2>
			<Infobox hint={true}>
				Check it out, this is a reusable component with three varieties!
			</Infobox>
			<Infobox warning={true}>
				It can be a hint, a warning, or just a regular old info box if you don't pass either prop.
			</Infobox>
			<Infobox>Just one less thing to think about when you're writing docs.</Infobox>
			<div class="bg-primary-NOTSODARK p-3 m-2 rounded-2xl bg-opacity-70">
				<h4 class="text-2xl m-2 font-bold text-center" id="create-qgp">
					This is the landing page!
				</h4>
			</div>
			<Edit file="src/pages/index.astro" />
			<Footer />
		</main>
	</body>
</html>
